/*
    images style
 */

.images {
  background: transparent;
  margin: -185px 0 -358px;
  position: relative;
  z-index: 11;

  @include mq(md) {
    margin: 25px auto -79px;
  }

  @include mq(s) {
    display: none;
  }

  &__content {
    box-sizing: border-box;
    padding: 0 17px;
    display: flex;

    @include mq(lg) {
      padding: 0;
      justify-content: space-between;
    }

    figure {
      width: 31%;
      max-width: 350px;
      filter: $shadow2;
      position: relative;

      @include mq(md) {
        width: 32%;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        box-shadow: 0 0 5px rgba(28, 85, 118, 0.7);
      }

      img {
        width: 100%;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:nth-child(1) {
        margin-top: 58px;

        &:after {
          width: 111px;
          height: 137px;
          background: url("../img/images/4.png") no-repeat center/cover;
          bottom: -33px;
          left: -19px;
        }
      }

      &:nth-child(2) {
        margin: 96px 50px 0 65px;

        @include mq(md) {
          margin: 96px 0 0;
        }

        &:after {
          width: 290px;
          height: 80px;
          background: url("../img/images/5.png") no-repeat center/cover;
          top: -16px;
          left: calc(50% - 20px);
          transform: translateX(-50%);

          @include mq(md) {
            width: 200px;
            height: 55px;
            left: 50%;
            top: -12px;
          }
        }
      }

      &:nth-child(3) {

        &:after {
          width: 143px;
          height: 90px;
          background: url("../img/images/6.png") no-repeat center/cover;
          top: -8px;
          right: -14px;
        }
      }
    }
  }
}