/*
    gallery style
 */

.gallery {
  background: $darker-blue;
  padding: 43px 0 234px;

  @include mq(md) {
    padding: 32px 0 43px;
  }

  &__content {
    flex-wrap: wrap;
    align-items: baseline;

    a {
      width: 19%;

      @include mq(xs) {
        width: 48%;
        min-width: 140px;
        margin-top: 10px;
      }

      &:first-child {
        margin-bottom: 20px;

        @include mq(xs) {
          margin-bottom: 0;
          margin-top: 0;
        }
      }

      &:nth-child(2) {

        @include mq(xs) {
          margin-top: 0;
        }
      }
    }
  }

  .container {

    h5 {
      margin: 79px 0 5px 21px;

      @include mq(md) {
        margin: 33px auto 5px;
        text-align: center;
      }

      span {
        color: $yellow;
      }
    }

    p.big {
      margin-left: 21px;

      @include mq(md) {
        margin-left: 0;
        text-align: center;
      }

    }
  }
}