/*
    review style
 */

.review {
  padding-top: 102px;
  position: relative;
  z-index: 20;

  @include mq(md) {
    padding-top: 39px;
  }

  h3 {
    text-transform: uppercase;
    color: $white;
    margin-bottom: 91px;
    max-width: 600px;

    @include mq(md) {
      margin-bottom: 36px;
    }
  }

  &__content {

    &-slider {

      &__item {
        display: flex !important;

        @include mq(s) {
          display: block !important;
        }

        figure {
          box-sizing: border-box;
          width: 50%;
          padding-right: 100px;

          @include mq(lg) {
            padding-right: 50px;
          }

          @include mq(md) {
            padding-right: 25px;
          }

          @include mq(s) {
            padding-right: 0;
            width: 100%;
          }

          p {

          }

          h6 {
            text-transform: uppercase;
            color: $white;
            margin-top: 10px;
          }

          &:nth-child(2) {
            margin-left: -23px;

            @include mq(lg) {
              margin-left: 0;
            }

            @include mq(s) {
              margin-top: 38px;
            }
          }
        }
      }
    }

    &-nav {
      width: 190px;
      margin-top: 82px;
      display: flex;
      justify-content: space-between;

      @include mq(md) {
        margin-top: 38px;
      }

      @include mq(s) {
        width: 141px;
        margin-left: auto;
      }

      .prev-arrow, .next-arrow {
        width: 60px;
        height: 60px;
        background: $gradient;
        box-shadow: $shadow;
        border-radius: 50%;
        cursor: pointer;
        position: relative;

        @include mq(s) {
          width: 45px;
          height: 45px;
        }

        &:after {
          content: "";
          display: block;
          width: 15px;
          height: 27px;
          background: url("../img/arrow.png") no-repeat center/cover;
          position: absolute;
          top: 18px;
          left: 20px;

          @include mq(s) {
            width: 12px;
            height: 21px;
            top: 13px;
            left: 14px;
          }
        }
      }

      .next-arrow {
        transform: scale(-1, 1);
      }
    }
  }
}